<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kaichang_00055.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{680,30}}</string>
                <key>offset</key>
                <string>{-2,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,587},{680,30}}</string>
                <key>sourceSize</key>
                <string>{720,1134}</string>
            </dict>
            <key>kaichang_00056.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,2},{572,72}}</string>
                <key>offset</key>
                <string>{-6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,543},{572,72}}</string>
                <key>sourceSize</key>
                <string>{720,1134}</string>
            </dict>
            <key>kaichang_00057.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{586,112}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,500},{586,112}}</string>
                <key>sourceSize</key>
                <string>{720,1134}</string>
            </dict>
            <key>kaichang_00058.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,76},{594,154}}</string>
                <key>offset</key>
                <string>{0,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,456},{594,154}}</string>
                <key>sourceSize</key>
                <string>{720,1134}</string>
            </dict>
            <key>kaichang_00059.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,76},{594,172}}</string>
                <key>offset</key>
                <string>{0,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,429},{594,172}}</string>
                <key>sourceSize</key>
                <string>{720,1134}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animation3.png</string>
            <key>size</key>
            <string>{1782,290}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f1c9e66cddc6de1522f6b2785aab93b:03d6fa4e16998f6a62ebf4ffe94d30c5:f6d2fdc31ded5fedbfa68e4563355cf7$</string>
            <key>textureFileName</key>
            <string>animation3.png</string>
        </dict>
    </dict>
</plist>
