<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kaichang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{588,154}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,9},{588,154}}</string>
                <key>sourceSize</key>
                <string>{720,180}</string>
            </dict>
            <key>shi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,2},{136,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,145}}</string>
                <key>sourceSize</key>
                <string>{136,145}</string>
            </dict>
            <key>shi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{156,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,156}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>shi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,2},{150,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,140}}</string>
                <key>sourceSize</key>
                <string>{150,140}</string>
            </dict>
            <key>shi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,2},{109,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,190}}</string>
                <key>sourceSize</key>
                <string>{109,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animation0.png</string>
            <key>size</key>
            <string>{1152,194}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:972adc9857cf9e3392b93656a603c369:554b5a202d9b54c10acf706405a7286d:7d2914582bbd58626983c4c97f3db692$</string>
            <key>textureFileName</key>
            <string>animation0.png</string>
        </dict>
    </dict>
</plist>
