<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kaichang_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1394},{674,306}}</string>
                <key>offset</key>
                <string>{-2,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,311},{674,306}}</string>
                <key>sourceSize</key>
                <string>{720,1134}</string>
            </dict>
            <key>kaichang_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,1394},{674,310}}</string>
                <key>offset</key>
                <string>{-2,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,307},{674,310}}</string>
                <key>sourceSize</key>
                <string>{720,1134}</string>
            </dict>
            <key>kaichang_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1712},{674,316}}</string>
                <key>offset</key>
                <string>{-2,108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,301},{674,316}}</string>
                <key>sourceSize</key>
                <string>{720,1134}</string>
            </dict>
            <key>kaichang_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1356,1712},{674,316}}</string>
                <key>offset</key>
                <string>{-2,108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,301},{674,316}}</string>
                <key>sourceSize</key>
                <string>{720,1134}</string>
            </dict>
            <key>kaichang_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,1712},{676,316}}</string>
                <key>offset</key>
                <string>{-2,108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,301},{676,316}}</string>
                <key>sourceSize</key>
                <string>{720,1134}</string>
            </dict>
            <key>kaichang_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,1394},{676,316}}</string>
                <key>offset</key>
                <string>{-2,108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,301},{676,316}}</string>
                <key>sourceSize</key>
                <string>{720,1134}</string>
            </dict>
            <key>kaichang_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,1090},{676,302}}</string>
                <key>offset</key>
                <string>{-2,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,315},{676,302}}</string>
                <key>sourceSize</key>
                <string>{720,1134}</string>
            </dict>
            <key>kaichang_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,1090},{676,256}}</string>
                <key>offset</key>
                <string>{-2,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,361},{676,256}}</string>
                <key>sourceSize</key>
                <string>{720,1134}</string>
            </dict>
            <key>kaichang_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,666},{676,210}}</string>
                <key>offset</key>
                <string>{-2,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,407},{676,210}}</string>
                <key>sourceSize</key>
                <string>{720,1134}</string>
            </dict>
            <key>kaichang_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,878},{676,210}}</string>
                <key>offset</key>
                <string>{-2,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,407},{676,210}}</string>
                <key>sourceSize</key>
                <string>{720,1134}</string>
            </dict>
            <key>kaichang_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,878},{676,210}}</string>
                <key>offset</key>
                <string>{-2,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,407},{676,210}}</string>
                <key>sourceSize</key>
                <string>{720,1134}</string>
            </dict>
            <key>kaichang_00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,878},{676,210}}</string>
                <key>offset</key>
                <string>{-2,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,407},{676,210}}</string>
                <key>sourceSize</key>
                <string>{720,1134}</string>
            </dict>
            <key>kaichang_00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1090},{678,210}}</string>
                <key>offset</key>
                <string>{-2,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,407},{678,210}}</string>
                <key>sourceSize</key>
                <string>{720,1134}</string>
            </dict>
            <key>kaichang_00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,666},{678,210}}</string>
                <key>offset</key>
                <string>{-2,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,407},{678,210}}</string>
                <key>sourceSize</key>
                <string>{720,1134}</string>
            </dict>
            <key>kaichang_00042.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{678,210}}</string>
                <key>offset</key>
                <string>{-2,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,407},{678,210}}</string>
                <key>sourceSize</key>
                <string>{720,1134}</string>
            </dict>
            <key>kaichang_00043.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{678,210}}</string>
                <key>offset</key>
                <string>{-2,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,407},{678,210}}</string>
                <key>sourceSize</key>
                <string>{720,1134}</string>
            </dict>
            <key>kaichang_00044.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,454},{678,210}}</string>
                <key>offset</key>
                <string>{-2,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,407},{678,210}}</string>
                <key>sourceSize</key>
                <string>{720,1134}</string>
            </dict>
            <key>kaichang_00045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,454},{678,210}}</string>
                <key>offset</key>
                <string>{-2,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,407},{678,210}}</string>
                <key>sourceSize</key>
                <string>{720,1134}</string>
            </dict>
            <key>kaichang_00046.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,274},{678,178}}</string>
                <key>offset</key>
                <string>{-2,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,439},{678,178}}</string>
                <key>sourceSize</key>
                <string>{720,1134}</string>
            </dict>
            <key>kaichang_00047.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,2},{678,82}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,535},{678,82}}</string>
                <key>sourceSize</key>
                <string>{720,1134}</string>
            </dict>
            <key>kaichang_00048.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,86},{694,92}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,525},{694,92}}</string>
                <key>sourceSize</key>
                <string>{720,1134}</string>
            </dict>
            <key>kaichang_00049.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{694,92}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,525},{694,92}}</string>
                <key>sourceSize</key>
                <string>{720,1134}</string>
            </dict>
            <key>kaichang_00050.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,180},{694,92}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,525},{694,92}}</string>
                <key>sourceSize</key>
                <string>{720,1134}</string>
            </dict>
            <key>kaichang_00051.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{694,92}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,525},{694,92}}</string>
                <key>sourceSize</key>
                <string>{720,1134}</string>
            </dict>
            <key>kaichang_00052.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{694,92}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,525},{694,92}}</string>
                <key>sourceSize</key>
                <string>{720,1134}</string>
            </dict>
            <key>kaichang_00053.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,2},{680,20}}</string>
                <key>offset</key>
                <string>{-2,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,597},{680,20}}</string>
                <key>sourceSize</key>
                <string>{720,1134}</string>
            </dict>
            <key>kaichang_00054.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{680,20}}</string>
                <key>offset</key>
                <string>{-2,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,597},{680,20}}</string>
                <key>sourceSize</key>
                <string>{720,1134}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animation2.png</string>
            <key>size</key>
            <string>{2046,2030}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:26784ea1c036d3e7325e1b0ee6a29490:17bf6d7d09f38e6d92df681596383dce:e8db81b24b317c5ea92afcfc6491574b$</string>
            <key>textureFileName</key>
            <string>animation2.png</string>
        </dict>
    </dict>
</plist>
