<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kaichang_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,6}}</string>
                <key>offset</key>
                <string>{-15,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,194},{134,6}}</string>
                <key>sourceSize</key>
                <string>{720,200}</string>
            </dict>
            <key>kaichang_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{268,8}}</string>
                <key>offset</key>
                <string>{-9,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,192},{268,8}}</string>
                <key>sourceSize</key>
                <string>{720,200}</string>
            </dict>
            <key>kaichang_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,832},{588,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,0},{588,200}}</string>
                <key>sourceSize</key>
                <string>{720,200}</string>
            </dict>
            <key>kaichang_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{694,162}}</string>
                <key>offset</key>
                <string>{-5,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,453},{694,162}}</string>
                <key>sourceSize</key>
                <string>{720,1134}</string>
            </dict>
            <key>kaichang_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,500},{670,164}}</string>
                <key>offset</key>
                <string>{-3,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,453},{670,164}}</string>
                <key>sourceSize</key>
                <string>{720,1134}</string>
            </dict>
            <key>kaichang_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,666},{670,164}}</string>
                <key>offset</key>
                <string>{-2,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,453},{670,164}}</string>
                <key>sourceSize</key>
                <string>{720,1134}</string>
            </dict>
            <key>kaichang_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,832},{670,164}}</string>
                <key>offset</key>
                <string>{-2,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,453},{670,164}}</string>
                <key>sourceSize</key>
                <string>{720,1134}</string>
            </dict>
            <key>kaichang_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,832},{670,164}}</string>
                <key>offset</key>
                <string>{-2,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,453},{670,164}}</string>
                <key>sourceSize</key>
                <string>{720,1134}</string>
            </dict>
            <key>kaichang_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,666},{670,164}}</string>
                <key>offset</key>
                <string>{-2,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,453},{670,164}}</string>
                <key>sourceSize</key>
                <string>{720,1134}</string>
            </dict>
            <key>kaichang_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,500},{670,164}}</string>
                <key>offset</key>
                <string>{-2,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,453},{670,164}}</string>
                <key>sourceSize</key>
                <string>{720,1134}</string>
            </dict>
            <key>kaichang_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{670,164}}</string>
                <key>offset</key>
                <string>{-2,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,453},{670,164}}</string>
                <key>sourceSize</key>
                <string>{720,1134}</string>
            </dict>
            <key>kaichang_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,168},{670,164}}</string>
                <key>offset</key>
                <string>{-2,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,453},{670,164}}</string>
                <key>sourceSize</key>
                <string>{720,1134}</string>
            </dict>
            <key>kaichang_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{670,164}}</string>
                <key>offset</key>
                <string>{-2,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,453},{670,164}}</string>
                <key>sourceSize</key>
                <string>{720,1134}</string>
            </dict>
            <key>kaichang_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,2},{672,164}}</string>
                <key>offset</key>
                <string>{-2,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,453},{672,164}}</string>
                <key>sourceSize</key>
                <string>{720,1134}</string>
            </dict>
            <key>kaichang_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,168},{672,164}}</string>
                <key>offset</key>
                <string>{-2,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,453},{672,164}}</string>
                <key>sourceSize</key>
                <string>{720,1134}</string>
            </dict>
            <key>kaichang_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{672,164}}</string>
                <key>offset</key>
                <string>{-2,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,453},{672,164}}</string>
                <key>sourceSize</key>
                <string>{720,1134}</string>
            </dict>
            <key>kaichang_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,334},{672,164}}</string>
                <key>offset</key>
                <string>{-2,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,453},{672,164}}</string>
                <key>sourceSize</key>
                <string>{720,1134}</string>
            </dict>
            <key>kaichang_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{672,164}}</string>
                <key>offset</key>
                <string>{-2,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,453},{672,164}}</string>
                <key>sourceSize</key>
                <string>{720,1134}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animation1.png</string>
            <key>size</key>
            <string>{2020,1034}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4396ef01a45d1d4c5c424f8152ab60a9:88b774a8e6cffdc0b8abd6a2c359a2a2:c5b8ca5a77c348979dba8b6076387e7d$</string>
            <key>textureFileName</key>
            <string>animation1.png</string>
        </dict>
    </dict>
</plist>
