<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_account.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,924},{147,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,66}}</string>
                <key>sourceSize</key>
                <string>{147,66}</string>
            </dict>
            <key>btn_account_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,1073},{147,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,66}}</string>
                <key>sourceSize</key>
                <string>{147,66}</string>
            </dict>
            <key>btn_backgame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,936},{400,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,100}}</string>
                <key>sourceSize</key>
                <string>{400,100}</string>
            </dict>
            <key>btn_backgame_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,2},{400,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,100}}</string>
                <key>sourceSize</key>
                <string>{400,100}</string>
            </dict>
            <key>btn_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,308},{236,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,100}}</string>
                <key>sourceSize</key>
                <string>{236,100}</string>
            </dict>
            <key>btn_cancel_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,546},{236,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,100}}</string>
                <key>sourceSize</key>
                <string>{236,100}</string>
            </dict>
            <key>btn_enter.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,308},{372,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,107}}</string>
                <key>sourceSize</key>
                <string>{372,107}</string>
            </dict>
            <key>btn_enter_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,417},{372,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,100}}</string>
                <key>sourceSize</key>
                <string>{372,100}</string>
            </dict>
            <key>btn_exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1038},{400,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,100}}</string>
                <key>sourceSize</key>
                <string>{400,100}</string>
            </dict>
            <key>btn_exit_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,104},{400,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,100}}</string>
                <key>sourceSize</key>
                <string>{400,100}</string>
            </dict>
            <key>btn_goindex.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,2},{296,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,100}}</string>
                <key>sourceSize</key>
                <string>{296,100}</string>
            </dict>
            <key>btn_goindex_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,825},{296,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,100}}</string>
                <key>sourceSize</key>
                <string>{296,100}</string>
            </dict>
            <key>btn_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,825},{97,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,89}}</string>
                <key>sourceSize</key>
                <string>{97,89}</string>
            </dict>
            <key>btn_help_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,784},{97,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,89}}</string>
                <key>sourceSize</key>
                <string>{97,89}</string>
            </dict>
            <key>btn_help_intro.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,936},{296,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,100}}</string>
                <key>sourceSize</key>
                <string>{296,100}</string>
            </dict>
            <key>btn_help_intro_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,927},{296,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,100}}</string>
                <key>sourceSize</key>
                <string>{296,100}</string>
            </dict>
            <key>btn_playagain.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,927},{296,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,100}}</string>
                <key>sourceSize</key>
                <string>{296,100}</string>
            </dict>
            <key>btn_playagain_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,927},{296,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,100}}</string>
                <key>sourceSize</key>
                <string>{296,100}</string>
            </dict>
            <key>btn_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,1225},{182,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,60}}</string>
                <key>sourceSize</key>
                <string>{182,60}</string>
            </dict>
            <key>btn_rank_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,1225},{182,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,60}}</string>
                <key>sourceSize</key>
                <string>{182,60}</string>
            </dict>
            <key>btn_restart_lg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1140},{400,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,100}}</string>
                <key>sourceSize</key>
                <string>{400,100}</string>
            </dict>
            <key>btn_restart_lg_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,206},{400,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,100}}</string>
                <key>sourceSize</key>
                <string>{400,100}</string>
            </dict>
            <key>btn_scroll.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,1129},{46,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,35}}</string>
                <key>sourceSize</key>
                <string>{46,35}</string>
            </dict>
            <key>btn_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,519},{372,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,100}}</string>
                <key>sourceSize</key>
                <string>{372,100}</string>
            </dict>
            <key>btn_start_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,621},{372,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,100}}</string>
                <key>sourceSize</key>
                <string>{372,100}</string>
            </dict>
            <key>btn_start_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,723},{372,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,100}}</string>
                <key>sourceSize</key>
                <string>{372,100}</string>
            </dict>
            <key>icon_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1242},{40,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,66}}</string>
                <key>sourceSize</key>
                <string>{40,66}</string>
            </dict>
            <key>icon_back_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,1242},{40,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,66}}</string>
                <key>sourceSize</key>
                <string>{40,66}</string>
            </dict>
            <key>icon_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,1242},{40,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,66}}</string>
                <key>sourceSize</key>
                <string>{40,66}</string>
            </dict>
            <key>icon_left_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1242},{40,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,66}}</string>
                <key>sourceSize</key>
                <string>{40,66}</string>
            </dict>
            <key>icon_left_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1242},{40,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,66}}</string>
                <key>sourceSize</key>
                <string>{40,66}</string>
            </dict>
            <key>icon_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,883},{40,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,66}}</string>
                <key>sourceSize</key>
                <string>{40,66}</string>
            </dict>
            <key>icon_right_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1242},{40,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,66}}</string>
                <key>sourceSize</key>
                <string>{40,66}</string>
            </dict>
            <key>icon_right_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,1234},{40,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,66}}</string>
                <key>sourceSize</key>
                <string>{40,66}</string>
            </dict>
            <key>icon_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,925},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>icon_share_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,993},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>icon_share_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,1061},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>icon_share_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,1129},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>music_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,1197},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>music_close_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,925},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>music_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,993},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>music_open_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,1061},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>share_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{501,932}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{501,932}}</string>
                <key>sourceSize</key>
                <string>{501,932}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>btns.png</string>
            <key>size</key>
            <string>{1017,1287}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85b6c93f00b9fe25b50c88a547065de5:5000078c558a3d9e664269df62a6e17a:5b0ec9b43c7a64dd256d1f346963b7ed$</string>
            <key>textureFileName</key>
            <string>btns.png</string>
        </dict>
    </dict>
</plist>
