<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gameover_fg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{720,1134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,1134}}</string>
                <key>sourceSize</key>
                <string>{720,1134}</string>
            </dict>
            <key>gameover_gear.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,1515},{112,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,113}}</string>
                <key>sourceSize</key>
                <string>{112,113}</string>
            </dict>
            <key>gameover_heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,1138},{110,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,84}}</string>
                <key>sourceSize</key>
                <string>{110,84}</string>
            </dict>
            <key>gameover_smoke1.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1515},{100,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,97}}</string>
                <key>sourceSize</key>
                <string>{100,97}</string>
            </dict>
            <key>gameover_smoke2.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,1614},{60,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,54}}</string>
                <key>sourceSize</key>
                <string>{60,54}</string>
            </dict>
            <key>gameover_smoke3.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,1250},{100,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,83}}</string>
                <key>sourceSize</key>
                <string>{100,83}</string>
            </dict>
            <key>gameover_soap.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,1515},{84,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,94}}</string>
                <key>sourceSize</key>
                <string>{84,94}</string>
            </dict>
            <key>gameover_stone.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1614},{89,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,93}}</string>
                <key>sourceSize</key>
                <string>{89,93}</string>
            </dict>
            <key>lashi_part1.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,1374},{188,229}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,229}}</string>
                <key>sourceSize</key>
                <string>{190,229}</string>
            </dict>
            <key>lashi_part2.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,1468},{45,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,59}}</string>
                <key>sourceSize</key>
                <string>{45,59}</string>
            </dict>
            <key>lashi_part3.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,1685},{43,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,44}}</string>
                <key>sourceSize</key>
                <string>{43,44}</string>
            </dict>
            <key>lashi_part4.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1705},{37,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,42}}</string>
                <key>sourceSize</key>
                <string>{37,42}</string>
            </dict>
            <key>lashi_part5.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1670},{70,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,55}}</string>
                <key>sourceSize</key>
                <string>{70,55}</string>
            </dict>
            <key>niushi1_part1.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,1138},{224,234}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{224,234}}</string>
                <key>sourceSize</key>
                <string>{224,236}</string>
            </dict>
            <key>niushi1_part2.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,1705},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>niushi1_part4.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,1676},{57,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{57,44}}</string>
                <key>sourceSize</key>
                <string>{61,46}</string>
            </dict>
            <key>niushi1_part7.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,1611},{57,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{57,44}}</string>
                <key>sourceSize</key>
                <string>{61,46}</string>
            </dict>
            <key>niushi1_part8.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,1667},{36,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,34}}</string>
                <key>sourceSize</key>
                <string>{36,34}</string>
            </dict>
            <key>niushi2_part1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1452},{231,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,203}}</string>
                <key>sourceSize</key>
                <string>{231,203}</string>
            </dict>
            <key>niushi2_part2.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,1605},{134,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,63}}</string>
                <key>sourceSize</key>
                <string>{134,63}</string>
            </dict>
            <key>niushi2_part3.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,1352},{114,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,54}}</string>
                <key>sourceSize</key>
                <string>{114,54}</string>
            </dict>
            <key>niushi2_part4.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1678},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>niushi2_part5.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,1705},{19,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,24}}</string>
                <key>sourceSize</key>
                <string>{19,24}</string>
            </dict>
            <key>niushi3_part1.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,1138},{225,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,218}}</string>
                <key>sourceSize</key>
                <string>{225,218}</string>
            </dict>
            <key>niushi3_part2.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1712},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>niushi3_part3.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,1629},{47,49}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>saoshi_part1.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,1358},{155,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,229}}</string>
                <key>sourceSize</key>
                <string>{155,229}</string>
            </dict>
            <key>saoshi_part10.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,1352},{103,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,18}}</string>
                <key>sourceSize</key>
                <string>{103,18}</string>
            </dict>
            <key>saoshi_part2.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,1670},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>saoshi_part4.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,1605},{60,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,45}}</string>
                <key>sourceSize</key>
                <string>{60,45}</string>
            </dict>
            <key>saoshi_part7.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,1629},{69,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,54}}</string>
                <key>sourceSize</key>
                <string>{69,54}</string>
            </dict>
            <key>saoshi_part8.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,1685},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>saoshi_part9.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,1670},{77,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,57}}</string>
                <key>sourceSize</key>
                <string>{77,57}</string>
            </dict>
            <key>xiashi_part1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1138},{179,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,312}}</string>
                <key>sourceSize</key>
                <string>{179,312}</string>
            </dict>
            <key>xiashi_part2.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,1705},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>xiashi_part3.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,1685},{51,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,92}}</string>
                <key>sourceSize</key>
                <string>{51,92}</string>
            </dict>
            <key>xiashi_part4.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,1731},{16,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,37}}</string>
                <key>sourceSize</key>
                <string>{16,37}</string>
            </dict>
            <key>xiashi_part5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1685},{113,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,58}}</string>
                <key>sourceSize</key>
                <string>{113,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameover.png</string>
            <key>size</key>
            <string>{724,1749}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb08eb3bce0d298c98c3e1244bf14228$</string>
            <key>textureFileName</key>
            <string>gameover.png</string>
        </dict>
    </dict>
</plist>
