<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cool.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,642},{122,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,98}}</string>
                <key>sourceSize</key>
                <string>{122,98}</string>
            </dict>
            <key>good.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,929},{138,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,111}}</string>
                <key>sourceSize</key>
                <string>{138,111}</string>
            </dict>
            <key>great.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,686},{148,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,119}}</string>
                <key>sourceSize</key>
                <string>{148,119}</string>
            </dict>
            <key>icon_chest_body1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1133},{130,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,46}}</string>
                <key>sourceSize</key>
                <string>{130,46}</string>
            </dict>
            <key>icon_chest_body2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1042},{130,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,89}}</string>
                <key>sourceSize</key>
                <string>{130,89}</string>
            </dict>
            <key>icon_chest_cap.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,595},{149,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,89}}</string>
                <key>sourceSize</key>
                <string>{149,89}</string>
            </dict>
            <key>icon_chest_lights.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,287},{177,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,163}}</string>
                <key>sourceSize</key>
                <string>{177,163}</string>
            </dict>
            <key>icon_heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,287},{73,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,56}}</string>
                <key>sourceSize</key>
                <string>{73,56}</string>
            </dict>
            <key>icon_lights.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{283,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,250}}</string>
                <key>sourceSize</key>
                <string>{283,250}</string>
            </dict>
            <key>icon_niushi_lashi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1220},{126,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,63}}</string>
                <key>sourceSize</key>
                <string>{126,63}</string>
            </dict>
            <key>icon_niushi_saoshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1220},{119,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,60}}</string>
                <key>sourceSize</key>
                <string>{119,60}</string>
            </dict>
            <key>icon_niushi_xiashi.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,486},{106,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,74}}</string>
                <key>sourceSize</key>
                <string>{106,74}</string>
            </dict>
            <key>icon_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,594},{46,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>icon_pause_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,438},{46,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>icon_soap.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,345},{66,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,91}}</string>
                <key>sourceSize</key>
                <string>{66,91}</string>
            </dict>
            <key>icon_stone.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,888},{87,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,90}}</string>
                <key>sourceSize</key>
                <string>{87,90}</string>
            </dict>
            <key>perfect.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{175,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,141}}</string>
                <key>sourceSize</key>
                <string>{175,141}</string>
            </dict>
            <key>puzzle-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,766},{93,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,120}}</string>
                <key>sourceSize</key>
                <string>{93,120}</string>
            </dict>
            <key>puzzle-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,807},{144,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,120}}</string>
                <key>sourceSize</key>
                <string>{144,120}</string>
            </dict>
            <key>puzzle-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,1099},{119,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,120}}</string>
                <key>sourceSize</key>
                <string>{119,120}</string>
            </dict>
            <key>puzzle-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,977},{107,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,120}}</string>
                <key>sourceSize</key>
                <string>{107,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>icon_main.png</string>
            <key>size</key>
            <string>{256,1285}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e84cae862f412f85a3a61c50f09b56c$</string>
            <key>textureFileName</key>
            <string>icon_main.png</string>
        </dict>
    </dict>
</plist>
