<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>intro_2yuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,378},{468,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,191}}</string>
                <key>sourceSize</key>
                <string>{468,191}</string>
            </dict>
            <key>intro_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{720,1134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,1134}}</string>
                <key>sourceSize</key>
                <string>{720,1134}</string>
            </dict>
            <key>intro_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,1108},{161,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,161}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>intro_dao.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,1271},{161,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,161}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>intro_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{254,374}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,374}}</string>
                <key>sourceSize</key>
                <string>{254,374}</string>
            </dict>
            <key>intro_inbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1430},{575,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{575,344}}</string>
                <key>sourceSize</key>
                <string>{575,344}</string>
            </dict>
            <key>intro_know.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,1108},{400,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,100}}</string>
                <key>sourceSize</key>
                <string>{400,100}</string>
            </dict>
            <key>intro_know_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,1597},{400,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,100}}</string>
                <key>sourceSize</key>
                <string>{400,100}</string>
            </dict>
            <key>intro_las.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,1434},{161,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,161}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>intro_link.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,977},{129,185}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,185}}</string>
                <key>sourceSize</key>
                <string>{147,185}</string>
            </dict>
            <key>intro_linkrole.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,1786},{159,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,90}}</string>
                <key>sourceSize</key>
                <string>{159,90}</string>
            </dict>
            <key>intro_look.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,848},{186,127}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,127}}</string>
                <key>sourceSize</key>
                <string>{188,127}</string>
            </dict>
            <key>intro_mihuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1138},{655,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{655,290}}</string>
                <key>sourceSize</key>
                <string>{655,290}</string>
            </dict>
            <key>intro_pang.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,1623},{161,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,161}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>intro_pass.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,378},{90,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,70}}</string>
                <key>sourceSize</key>
                <string>{90,70}</string>
            </dict>
            <key>intro_pass_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,470},{90,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,70}}</string>
                <key>sourceSize</key>
                <string>{90,70}</string>
            </dict>
            <key>intro_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1430},{575,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{575,344}}</string>
                <key>sourceSize</key>
                <string>{575,344}</string>
            </dict>
            <key>intro_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,1510},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>intro.png</string>
            <key>size</key>
            <string>{989,2007}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf0ed444ba51e54610e8aa45d731cb0c:7ca065a70e44fc0efffa9ace5fc4e98e:e357f4e3b62cd202b6fd76e4d2b9101a$</string>
            <key>textureFileName</key>
            <string>intro.png</string>
        </dict>
    </dict>
</plist>
