<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>achieve_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{602,589}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,589}}</string>
                <key>sourceSize</key>
                <string>{602,589}</string>
            </dict>
            <key>btn_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{1887,225},{296,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,100}}</string>
                <key>sourceSize</key>
                <string>{296,100}</string>
            </dict>
            <key>btn_down_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,1066},{296,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,100}}</string>
                <key>sourceSize</key>
                <string>{296,100}</string>
            </dict>
            <key>btn_login.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,1066},{236,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,100}}</string>
                <key>sourceSize</key>
                <string>{236,100}</string>
            </dict>
            <key>btn_login_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{1101,1066},{236,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,100}}</string>
                <key>sourceSize</key>
                <string>{236,100}</string>
            </dict>
            <key>btn_register.png</key>
            <dict>
                <key>frame</key>
                <string>{{1645,635},{400,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,100}}</string>
                <key>sourceSize</key>
                <string>{400,100}</string>
            </dict>
            <key>btn_register_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,638},{400,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,100}}</string>
                <key>sourceSize</key>
                <string>{400,100}</string>
            </dict>
            <key>btn_sure.png</key>
            <dict>
                <key>frame</key>
                <string>{{1339,1066},{236,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,100}}</string>
                <key>sourceSize</key>
                <string>{236,100}</string>
            </dict>
            <key>btn_sure_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{1577,1040},{236,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,100}}</string>
                <key>sourceSize</key>
                <string>{236,100}</string>
            </dict>
            <key>captcha_count.png</key>
            <dict>
                <key>frame</key>
                <string>{{1891,2},{163,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,69}}</string>
                <key>sourceSize</key>
                <string>{163,69}</string>
            </dict>
            <key>download_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{720,625}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,625}}</string>
                <key>sourceSize</key>
                <string>{720,625}</string>
            </dict>
            <key>forget.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,988},{138,37}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{138,37}}</string>
                <key>sourceSize</key>
                <string>{144,41}</string>
            </dict>
            <key>forget_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,1027},{138,37}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{138,37}}</string>
                <key>sourceSize</key>
                <string>{144,41}</string>
            </dict>
            <key>forget_input.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,2},{561,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{561,129}}</string>
                <key>sourceSize</key>
                <string>{561,129}</string>
            </dict>
            <key>forget_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,853},{720,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,211}}</string>
                <key>sourceSize</key>
                <string>{720,211}</string>
            </dict>
            <key>login_pass.png</key>
            <dict>
                <key>frame</key>
                <string>{{1645,225},{408,124}}</string>
                <key>offset</key>
                <string>{21,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,0},{408,124}}</string>
                <key>sourceSize</key>
                <string>{450,180}</string>
            </dict>
            <key>login_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,629},{720,357}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,357}}</string>
                <key>sourceSize</key>
                <string>{720,357}</string>
            </dict>
            <key>login_user.png</key>
            <dict>
                <key>frame</key>
                <string>{{1771,225},{411,114}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,114}}</string>
                <key>sourceSize</key>
                <string>{411,134}</string>
            </dict>
            <key>register.png</key>
            <dict>
                <key>frame</key>
                <string>{{1989,167},{206,37}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{206,37}}</string>
                <key>sourceSize</key>
                <string>{216,41}</string>
            </dict>
            <key>register_code.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,225},{364,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,89}}</string>
                <key>sourceSize</key>
                <string>{364,89}</string>
            </dict>
            <key>register_get.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,947},{163,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,76}}</string>
                <key>sourceSize</key>
                <string>{163,76}</string>
            </dict>
            <key>register_get_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{1936,818},{163,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,76}}</string>
                <key>sourceSize</key>
                <string>{163,76}</string>
            </dict>
            <key>register_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{1815,1075},{206,37}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{206,37}}</string>
                <key>sourceSize</key>
                <string>{216,41}</string>
            </dict>
            <key>register_pass.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,133},{560,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,90}}</string>
                <key>sourceSize</key>
                <string>{560,90}</string>
            </dict>
            <key>register_phone.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1083},{561,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{561,85}}</string>
                <key>sourceSize</key>
                <string>{561,85}</string>
            </dict>
            <key>register_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,593},{720,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,258}}</string>
                <key>sourceSize</key>
                <string>{720,258}</string>
            </dict>
            <key>reset_pass.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,988},{560,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,93}}</string>
                <key>sourceSize</key>
                <string>{560,93}</string>
            </dict>
            <key>reset_phone.png</key>
            <dict>
                <key>frame</key>
                <string>{{1936,523},{293,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,95}}</string>
                <key>sourceSize</key>
                <string>{293,95}</string>
            </dict>
            <key>reset_send.png</key>
            <dict>
                <key>frame</key>
                <string>{{1962,2},{163,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,69}}</string>
                <key>sourceSize</key>
                <string>{163,69}</string>
            </dict>
            <key>reset_send_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{1849,1004},{163,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,69}}</string>
                <key>sourceSize</key>
                <string>{163,69}</string>
            </dict>
            <key>reset_sms.png</key>
            <dict>
                <key>frame</key>
                <string>{{1849,638},{364,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,85}}</string>
                <key>sourceSize</key>
                <string>{364,85}</string>
            </dict>
            <key>reset_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,225},{720,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,197}}</string>
                <key>sourceSize</key>
                <string>{720,197}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>login.png</string>
            <key>size</key>
            <string>{2034,1170}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b9a5cef4309319237ec9e18cf32f9414:071453aa786d3d5c596cd62f52928a5d:70c8faf287b801f42cfa7c57415c1cdf$</string>
            <key>textureFileName</key>
            <string>login.png</string>
        </dict>
    </dict>
</plist>
